body {
  color: #44514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1 {
  font-size: 8rem;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #070d59;
  text-shadow: 2px 2px #f6f5f5;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #070d59;
  text-shadow: 2px 2px #f6f5f5;
  font-weight: normal;
  /* padding-bottom: 10px; */
  padding: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #070d59;
}

div {
  margin-top: 100px;

  /* height: 20%;
  border-width:500px;
  padding: 20px; */
}

p {
  line-height: 2;
}

a{
  color: #070d59;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color:#EAF6F6;
}

/* Navigation Bar */
.container-fluid{
  padding: 0% 5%;
  /* background-color: #070d59; */
  margin-top: 0;

}

.navbar{
  padding: 0  0 0rem 0;
}

.navbar-collapse{
  margin-top: 0;

}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight:bold;
  color:#EAF6F6;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
}

.navbar-toggler-icon{
  color: #070d59;
}

/* Title! */

.top-container {
  background-color: #d2f5e3;
  position: relative;
  margin-top:0;
  padding-top: 0;
  background-repeat: no-repeat;
  background-size:cover;
  /* background-attachment: fixed; */
  height: 1100px;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1509395062183-67c5ad6faff9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80");
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding:50px 0 20px;
}

.contact-message{
  width:40%;
  margin:40px auto 60px;
}
.copyright{
  color:#EFE6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.skills{
  background: #f4f4f4;
}
.skill-row {
  width: 60%;
  margin: 1px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  margin-right: 30px;
  width: 25%;
  float: left;
}

.time-work-img {
  margin-left: 30px;
  width: 25%;
  float: right;
}

.pro {
  text-decoration: underline;
}


.intro {
  width: 50%;
  margin: auto;
}


.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
  display: none;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
  display: none;
}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
